In [1]:
import pandas as pd
import requests

ModuleNotFoundError: No module named 'requests'

In [2]:
%pip install requests

Collecting requests
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.2.0-cp38-cp38-win_amd64.whl (96 kB)
Collecting certifi>=2017.4.17
  Downloading certifi-2023.7.22-py3-none-any.whl (158 kB)
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.0.4-py3-none-any.whl (123 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2023.7.22 charset-normalizer-3.2.0 idna-3.4 requests-2.31.0 urllib3-2.0.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script normalizer.exe is installed in 'c:\Users\E6430\AppData\Local\Programs\Mu Editor\Python\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [3]:
import pandas as pd
import requests

In [5]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=0dac4c9dd428f55684c4ace3f56df7a9&language=en-US&page=1')

In [19]:
temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date']]

In [20]:
df=pd.DataFrame()

In [21]:
df

Empty DataFrame
Columns: []
Index: []

In [23]:
for i in range(1,429):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=0dac4c9dd428f55684c4ace3f56df7a9&language=en-US&page={}'.format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date']]
    df=pd.concat([df,temp_df],ignore_index=True)

In [24]:
df

,id,title,overview,release_date
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15
...,...,...,...,...
8555,76544,Man of Tai Chi,"In Beijing, a young martial artist's skill pla...",2013-07-04
8556,58626,The Hit List,A disgruntled man creates a hit list with a st...,2011-04-02
8557,15189,Hotel for Dogs,Placed in a foster home that doesn't allow pet...,2009-01-16
8558,10424,Jennifer Eight,A big city cop from LA moves to a small town p...,1992-11-06
8559,406761,Hotel Artemis,"Los Angeles, June 21st, 2028. While the street...",2018-06-07

In [25]:
df.shape

(8560, 4)

In [26]:
df.to_csv('movies.csv')